body {
    background-color: #171717;
    color: white;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tema-container {
    text-align: center;
}

.tema-container h1 {
    font-family: 'Fina', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

#select-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-container {
    margin: 0 10px;
    width: 300px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    background-color: white;
    color: black;
    border: 1px solid var(--corObj);
    border-radius: 5px;
    outline: none;
    cursor: text;
    height: 200px;
    box-sizing: border-box;
    resize: none;
}

button {
    font-family: 'Fina', sans-serif;
    font-size: 15px;
    padding: 10px;
    background-color: var(--corObj);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    width: 300px;
    height: 70px;
    box-sizing: border-box;
    margin-top: 10px;
}

button:hover {
    background-color: #581f85;
    transition: 0.5s;
}

/* Responsividade para telas menores */
@media (max-width: 480px) {
    .tema-container h1 {
        font-size: 30px; /* Diminui o tamanho do título */
    }

    .input-container {
        width: 90%; /* Ajusta a largura do container de entrada */
    }

    textarea {
        height: 250px; /* Diminui a altura da área de texto */
    }

    #goto-objecao {
        width: 90%; /* Ajusta a largura do botão de objeção */
        height: 70px; 
        font-size: 15px;
    }

    #goto-tema {
        width: 90%; /* Ajusta a largura do botão de tema */
        height: 70px;
        font-size: 15px;
    }

    /* Ajustando o botão "Gerar novamente" */
    button {
        width: 90%; /* Faz o botão "Gerar novamente" ocupar 90% da largura */
        height: 70px; /* Mantém a altura igual */
        font-size: 15px; /* Ajuste no tamanho da fonte para o mobile */
    }
}
