body {
    background-color: #171717;
    color: white;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tema-container {
    text-align: center;
}

.tema-container h1 {
    font-family: 'Fina', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

#select-botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.input-container {
    margin: 0 10px;
    width: 300px; 
}

input[type="text"] {
    width: 100%; 
    padding: 10px; 
    font-size: 1em; 
    background-color: #2d0f44ea; 
    color: white; 
    border: 1px solid var(--corObj);
    border-radius: 5px;
    outline: none; 
    cursor: text; 
    height: 70px; 
    box-sizing: border-box; 
}

input[type="text"]:focus {
    border-color: var(--corObj); 
}

button {
    font-family: 'Fina', sans-serif; 
    font-size: 15px; 
    padding: 10px; 
    background-color: var(--corObj); 
    border-radius: 5px; 
    border: none; 
    color: white; 
    cursor: pointer; 
    width: 300px; 
    height: 70px; 
    box-sizing: border-box; 
    margin-top: 10px; 
}

button:hover {
    background-color: #581f85; 
    transition: 0.5s; 
}

input[type="text"]:hover {
    background-color: #581f85; 
    transition: 0.5s; 
}